body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #EAF2FA;
    color: #333;
    text-align: center;
}

.container {
    margin-top: 20vh;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

h2 {
    font-size: 36px;
    margin-top: 20px;
    color: #0588FE; /* Blue color */
}

p {
    margin-top: 20px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #0388FE;
    margin: 0 10px;
}

form {
    margin-top: 20px;
}

input {
    padding: 8px;
    width: 200px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
